{% block network %}
<div class="tab-pane fade show active" id="nav-network" role="tabpanel" aria-labelledby="nav-network-tab">
    <table class="table box-shadow" cellspacing="0" id = "maintable">
        <thead id = "fixedhead">
            <tr>
                <th>Network</th>
                <th>MTU</th>
                <th>VLAN</th>
                <th>CIDR</th>
                <th>Ranges</th>
                <th>DNS</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                <td class = "name">oob</td>
                <td>1500</td>
                <td></td>
                <td>10.23.104.0/24</td>
                <td>
                    <table  class="inner">
                    <thead>
                        <tr>
                        <th>type</th>
                        <th>start</th>
                        <th>end</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td>static</td>
                        <td>10.23.104.11</td>
                        <td>10.23.104.21</td>
                        </tr>
                    </tbody>
                    </table>
                </td>
                <td></td>
            </tr>
                <tr>
                <td class = "name">pxe</td>
                <td>1500</td>
                <td></td>
                <td>10.23.20.0/24</td>
                <td>
                    <table class="inner">
                    <thead>
                        <tr>
                        <th>type</th>
                        <th>start</th>
                        <th>end</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td>reserved</td>
                        <td>10.23.20.1</td>
                        <td>10.23.20.10</td>
                        </tr>
                        <tr>
                        <td>static</td>
                        <td>10.23.20.11</td>
                        <td>10.23.20.21</td>
                        </tr>
                        <tr>
                        <td>dhcp</td>
                        <td>10.23.20.40</td>
                        <td>10.23.20.80</td>
                        </tr>
                    </tbody>
                    </table>
                </td>
                <td></td>
            </tr>
            <tr>
                <td class = "name">oam</td>
                <td>9100</td>
                <td>21</td>
                <td>10.23.21.0/24</td>
                <td>
                    <table class="inner">
                        <thead>
                        <tr>
                            <th>type</th>
                            <th>start</th>
                            <th>end</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>reserved</td>
                            <td>10.23.21.1</td>
                            <td>10.23.21.10</td>
                        </tr>
                        <tr>
                            <td>static</td>
                            <td>10.23.21.11</td>
                            <td>10.23.21.21</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                <table  class="inner">
                    <thead>
                        <tr>
                        <th>domain</th>
                        <th>servers</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td>atlantafoundry.com</td>
                        <td>8.8.8.8<br>8.8.4.4<br>208.67.222.222</td>
                        </tr>
                    </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class = "name">storage</td>
                <td>9100</td>
                <td>23</td>
                <td>10.23.23.0/24</td>
                <td>
                    <table class="inner">
                    <thead>
                        <tr>
                        <th>type</th>
                        <th>start</th>
                        <th>end</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td>reserved</td>
                        <td>10.23.21.1</td>
                        <td>10.23.21.10</td>
                        </tr>
                        <tr>
                        <td>static</td>
                        <td>10.23.21.11</td>
                        <td>10.23.21.21</td>
                        </tr>
                    </tbody>
                    </table>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div id="bottom_anchor"></div>
</div>
{% endblock %}