<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>YAMLyzer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "yamlview/tables.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "yamlview/canvas.css" %}">
</head>
<body>
      
{% include "yamlview/index_header.html" %}
  <main>
    <section id="tabs" class="project-tab">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-network-tab" data-toggle="tab" href="#nav-network" role="tab" aria-controls="nav-network" aria-selected="true">Network</a>
                                <a class="nav-item nav-link" id="nav-node-tab" data-toggle="tab" href="#nav-node" role="tab" aria-controls="nav-node" aria-selected="false">Hosts</a>
                                <a class="nav-item nav-link" id="nav-software-tab" data-toggle="tab" href="#nav-software" role="tab" aria-controls="nav-software" aria-selected="false">Software</a>
                            </div>
                        </nav>
                        <br />
                        <div class="tab-content" id="nav-tabContent">
                        {% include "yamlview/index_network.html" %}
                        {% include "yamlview/index_hosts.html" %}
                        {% include "yamlview/index_software.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script>
        $(function () {
        'use strict'
        $('[data-toggle="offcanvas"]').on('click', function () {
        $('.offcanvas-collapse').toggleClass('open')
        })
      })
      
      $(document).on('change', '.btn-file :file', function() {
    var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [numFiles, label]);
  });

      $(document).ready( function() {
        $('.btn-file :file').on('fileselect', function(event, numFiles, label) {
          
          var input = $(this).parents('.input-group').find(':text'),
              log = numFiles > 1 ? numFiles + ' files selected' : label;
          
          if( input.length ) {
              input.val(log);
          } else {
              if( log ) alert(log);
          }
          
      });
  });
    
//     function moveScroll(){
//     var scroll = $(window).scrollTop();
//     var anchor_top = $("#maintable").offset().top;
//     var anchor_bottom = $("#bottom_anchor").offset().top;
//     if (scroll>anchor_top && scroll<anchor_bottom) {
//     clone_table = $("#clone");
//     if(clone_table.length == 0){
//         clone_table = $("#maintable").clone();
//         clone_table.attr('id', 'clone');
//         clone_table.css({position:'fixed',
//                 'pointer-events': 'none',
//                 top:0});
//         clone_table.width($("#maintable").width());
//         $("#nav-network").append(clone_table);
//         $("#clone").css({visibility:'hidden'});
//         $("#clone").css({'visibility':'visible','pointer-events':'auto'});
//     }
//     } else {
//     $("#clone").remove();
//     }
// }
// $(window).scroll(moveScroll);
    </script>
  </body>

</html>