<div class="tab-pane fade" id="nav-node" role="tabpanel" aria-labelledby="nav-node-tab">
    <table class="table" cellspacing="0">
        <thead>
            <tr>
                <th>Node</th>
                <th>
                  Addressing
                </th>
                <th>Host Profile</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="name">cab23-r720-12</th>
                <td>
                  <table class="inner">
                    <thead>
                      <tr>
                      <th>Network</th>
                      <th>IP Address</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>oob</td>
                        <td>10.23.104.12</td>
                      </tr>
                      <tr>
                        <td>pxe</td>
                        <td>10.23.20.12</td>
                      </tr>
                      <tr>
                        <td>oam</td>
                        <td>10.23.21.12</td>
                      </tr>
                      <tr>
                        <td>storage</td>
                        <td>10.23.23.12</td>
                      </tr>
                    </tbody>
                   </table>
                </td>
                <td>cp_r720-primary</td>
            </tr>
            <tr>
                <th class="name">cab23-r720-13</th>
                <td>
                <table class="inner">
                    <thead>
                      <tr>
                      <th>Network</th>
                      <th>IP Address</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>oob</td>
                        <td>10.23.104.13</td>
                      </tr>
                      <tr>
                        <td>pxe</td>
                        <td>10.23.20.13</td>
                      </tr>
                      <tr>
                        <td>oam</td>
                        <td>10.23.21.13</td>
                      </tr>
                      <tr>
                        <td>storage</td>
                        <td>10.23.23.13</td>
                      </tr>
                    </tbody>
                   </table>
                </td>
                <td>dp_r720-primary</td>
            </tr>
            <tr>
                <th class="name">cab23-r720-14</th>
                <td>
                  <table class="inner">
                    <thead>
                      <tr>
                      <th>Network</th>
                      <th>IP Address</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>oob</td>
                        <td>10.23.104.14</td>
                      </tr>
                      <tr>
                        <td>pxe</td>
                        <td>10.23.20.14</td>
                      </tr><tr>
                        <td>oam</td>
                        <td>10.23.21.14</td>
                      </tr>
                      <tr>
                        <td>storage</td>
                        <td>10.23.23.14</td>
                      </tr>
                    </tbody>
                   </table>
                   </td>
                <td>dp_r720</td>
                </tr>
                <tr>
                <th class="name">cab23-r720-17</th>
                <td>
                  <table class="inner">
                    <thead>
                      <tr>
                      <th>Network</th>
                      <th>IP Address</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>oob</td>
                        <td>10.23.104.17</td>
                      </tr>
                      <tr>
                        <td>pxe</td>
                        <td>10.23.20.17</td>
                      </tr><tr>
                        <td>oam</td>
                        <td>10.23.21.17</td>
                      </tr>
                      <tr>
                        <td>storage</td>
                        <td>10.23.23.17</td>
                      </tr>
                    </tbody>
                   </table></td>
                <td>dp_r720</td>
                </tr>
                <tr>
                <th class="name">cab23-r720-19</th>
                <td>
                    <table class="inner">
                    <thead>
                      <tr>
                      <th>Network</th>
                      <th>IP Address</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>oob</td>
                        <td>10.23.104.19</td>
                      </tr>
                      <tr>
                        <td>pxe</td>
                        <td>10.23.20.19</td>
                      </tr> <tr>
                        <td>oam</td>
                        <td>10.23.21.19</td>
                      </tr>
                      <tr>
                        <td>storage</td>
                        <td>10.23.23.19</td>
                      </tr>
                    </tbody>
                   </table></td>
                <td>dp_r720</td>
                </tr>
        </tbody>
    </table>
</div>