<div class="tab-pane fade" id="nav-software" role="tabpanel" aria-labelledby="nav-software-tab">
    <table class="table" cellspacing="0">
        <thead>
            <tr>
                <th>Chart</th>
                <th>Data Wait Timeout</th>
                <th>Data Wait Labels</th>
                <th>Group Name</th>
                <th>Chart Group Sequenced (true/false)</th>
                <th>Order of Chart Groups Within the Manifest (full-site)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="name">HELM</th>
                <td>content</td>
                <td>Other Content</td>
                <td>name</td>
                <td>true</td>
                <td>  </td>
            </tr>
            <tr>
                <th class="name">Docker</th>
                <td>content</td>
                <td>Other Content</td>
                <td>name</td>
                <td>true</td>
                <td>  </td>
            </tr>
            <tr>
                <th class="name">Airship</th>
                <td>content</td>
                <td>Other Content</td>
                <td>name</td>
                <td>true</td>
                <td>  </td>
            </tr>
        </tbody>
    </table>
</div>